<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#" data-toggle="modal" data-target="#enterlocation"><i class="fa fa-map-marker"></i> Enter to Nearest Palengke</a></li>
                <li><a href="#"> About Bayong</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-store"></i> Be a Seller</a></li>
                <li><a href="#"><i class="fa fa-truck"></i> Track My Order</a></li>
                <li><a href="#" data-toggle="modal" data-target="#actionmodal">Login</a></li>
                <li><a href="#" data-toggle="modal" data-target="#actionmodal">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/assets/img/headerlogo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">All</option>
                                <option value="1">Meat</option>
                                <option value="2">Seafood</option>
                                <option value="3">Vegetables</option>
                                <option value="4">Fruits</option>
                                <option value="5">Spices & Etc.</option>
                            </select>
                            <input class="input" placeholder="Search here">
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                                <span>Suki Stall</span>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-bag"></i>
                                <span>My Bayong</span>
                                <div class="qty">3</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="/assets/img/Products/carrot.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>

                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="/assets/img/Products/talong.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#">View Bayong</a>
                                    <a href="#" routerLink="/checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle" id="collapseBtn" (click)="toggleSideBar()">
                            <a id="collapseBtn" (click)="toggleSideBar()">
                                <i class="fa fa-bars"id="collapseBtn" (click)="toggleSideBar()"></i>
                                <span id="collapseBtn" (click)="toggleSideBar()">Categories</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
               <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
    	<!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li *ngFor="let p of categorylist"><a routerLink="/product" (click)="getCategory(p.name);">{{p.name}}</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
</header>
<!-- /HEADER -->


<div id="actionmodal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">	
                <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="font-size: 40px;">&times;</button>
				      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Signup" aria-controls="Signup" role="tab" data-toggle="tab">Signup</a>
                        </li>
                        <li role="presentation"><a href="#Login" aria-controls="Login" role="tab" data-toggle="tab">Login</a>
                        </li>
                      </ul>
			</div>
			<div class="modal-body">
				<div class="row">   
                    <!-- Tab panes -->
                    <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="Signup">
                            <form action="/examples/actions/confirmation.php" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email or Mobile Number" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Enter Password" required="required">					
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password" required="required">					
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Signup">
                                </div>
                                
                            </form>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="Login">
                            <form action="/examples/actions/confirmation.php" method="post">
                                <div class="form-group">
                               
                                    <input type="text" class="form-control" placeholder="Email or Mobile Number" required="required">
                                </div>
                                <div class="form-group">
                                 
                                    <input type="password" class="form-control" placeholder="Password" required="required">					
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                                </div>
                            </form>
                          </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>   
<div id="enterlocation" class="modal fade">
	<div class="modal-dialog modal-palengkelocation">
		<div class="modal-content">
			<div class="modal-header">	
                <h5 class="modal-title">Find your nearest palengke</h5>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="font-size: 40px;">&times;</button>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-md" placeholder="Enter your location" />
                                <span class="input-group-btn">
                                   <button class="btn btn-info btn-md" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    
                </div>
			</div>
			<div class="modal-body">
				<div class="row">
                    <ul class="list-group border-0">
                        <li class="list-group-item border-0">
                            Mega Q-Mart (Quezon City, Metro Manila)
                        </li>
                        <li class="list-group-item border-0">
                            Bocaue Public Market(Bocaue, Bulacan)
                        </li>
                        <li class="list-group-item border-0">
                            Marilao Wet Market(Marilao, Bulacan)
                        </li>
                        <li class="list-group-item border-0">
                            Cubao Public Market(Quezon City, Metro Manila)
                        </li>
                        <li class="list-group-item border-0">
                            Alibaba Dry Market(Sta Maria, Pangasinan)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">	
                <a href="#">Can't find your Palengke?</a>
            </div>
		</div>
	</div>
</div>  













